.book-container {
  background-color: #e3e8eb;
  border-radius: 10px;
  box-shadow: 3px 3px 21px 4px rgba(0,0,0,0.24);

  .poster-container {
    height: 300px;
    width: 250px;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
  }

  .details-container {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .btn-flat {
    align-self: start;
  }
}
