<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://as2.ftcdn.net/v2/jpg/02/16/48/81/1000_F_216488194_g3dib3sk7tlCNyyoC5ZzZzkgFIiMlIVI.jpg);">
  <div class="container">
    <h1 class="title">Digital Books - <br> <span data-controller="typed-js"></span></h1>
		<%# <div class="slogan">lorem ipsum dolor amet sit</div> %>
		<p>Bringing best-sellers to your hand</p>
    <%# <p>Change your life and learn to code at one of our campuses around the world.</p> %>
    <a class="btn btn-flat" href="/books"><i class="fa-light fa-arrow-right"></i>Discover</a>
  </div>
</div>
