
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://as2.ftcdn.net/v2/jpg/02/16/48/81/1000_F_216488194_g3dib3sk7tlCNyyoC5ZzZzkgFIiMlIVI.jpg);">
  <div class="container">
    <h1 class="title"><b>Digital </b>Books <br> <span data-controller="typed-js"></span></h1>
		<%# <div class="slogan">lorem ipsum dolor amet sit</div> %>
		<p>Bringing best-sellers to your hand</p>
    <%# <p>Change your life and learn to code at one of our campuses around the world.</p> %>
    <a class="btn btn-flat" href="/books"><i class="fa-light fa-arrow-right"></i>Discover</a>
  </div>
</div>

<div class="container">
	<div class="row margBott">

		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
				<%# <img class="card-img-top" src="" alt="Card image cap"> %>
				<div class="card-body">
					<p class="card-text">
					<h3>Reactivity</h3>
						Some quick example text to build on the card title and make up the bulk of the card's content.
					</p>
				</div>
			</div>
		</div>
		<%#  %>
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
				<%# <img class="card-img-top" src="" alt="Card image cap"> %>
				<div class="card-body">
					<p class="card-text">
					<h3>Trust</h3>
						Some quick example text to build on the card title and make up the bulk of the card's content.
					</p>
				</div>
			</div>
		</div>
		<%#  %>
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
				<%# <img class="card-img-top" src="" alt="Card image cap"> %>
				<div class="card-body">
					<p class="card-text">
					<h3>Quality</h3>
						Some quick example text to build on the card title and make up the bulk of the card's content.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://as2.ftcdn.net/v2/jpg/03/31/42/75/1000_F_331427528_tV05F0vie1G2oaQR5ieNDF4miv1RUinD.jpg)">
  ONLINE LIBRARY
</div>
<div class="container">
	<div class="row espacement">
		<div class="col-md-6 flex-center">
		<h2>Lorem ipsum dolor sit amet</h2>
			<p>Consectetur adipiscing elit. Etiam sed nisi sagittis, mattis libero et, accumsan nunc. Integer iaculis mi nibh, sed malesuada est tristique sit amet. Ut malesuada, risus ac maximus sagittis, velit nibh aliquam lorem, ac tempus risus eros sit amet nunc. Aliquam erat volutpat. Pellentesque vestibulum nisi ullamcorper, sagittis dolor sed, gravida ante. Ut nibh enim, finibus id euismod ut, dignissim sed est. Nunc facilisis tortor quis ornare facilisis. Fusce iaculis scelerisque massa, vitae ullamcorper ligula bibendum ut.</p>
		</div>
		<div class="col-md-6">
		<%= image_tag "books.jpg", class: 'image-books'%>
		</div>
	</div>
</div>
<div class="container">

</div>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://t3.ftcdn.net/jpg/01/33/19/88/240_F_133198880_pWJY2Q3mSWeI9I9NXgQONi5CyN4MU8zA.jpg)">
  Life changing books<br>
	FOR YOUR FUTURE
</div>

<%# FOOTER %>
<div class="container-fluid marg-0">

  <footer class="bg-dark text-center text-lg-start text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase font-titre">See other digital books</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>Bestsellers</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>All books</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-user-edit fa-fw fa-sm me-2"></i>Our authors</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase font-titre">Execution of the contract</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white"><i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>Supply</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-backspace fa-fw fa-sm me-2"></i>Returns</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="far fa-file-alt fa-fw fa-sm me-2"></i>Regulations</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="far fa-file-alt fa-fw fa-sm me-2"></i>Privacy policy</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase font-titre">Online publishing house</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">The BookStore</a>
            </li>
            <li>
              <a href="#!" class="text-white">123 Street</a>
            </li>
            <li>
              <a href="#!" class="text-white">05765 NY</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-briefcase fa-fw fa-sm me-2"></i>Send us your digital book</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase font-titre">Write to us</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white"><i class="fas fa-at fa-fw fa-sm me-2"></i>Help in purchasing</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>Check the renting status</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-envelope fa-fw fa-sm me-2"></i>Join the newsletter</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 Copyright:
      <a class="text-white" href="https://localhost:3000">Digitalbooks.com</a>
    </div>
    <!-- Copyright -->
  </footer>

</div>
<!-- End of .container -->
