<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://as2.ftcdn.net/v2/jpg/02/16/48/81/1000_F_216488194_g3dib3sk7tlCNyyoC5ZzZzkgFIiMlIVI.jpg);">
	<div class="container">
		<h1 class="title">
			<b>Digital </b>
			Books
			<br>
			<span data-controller="typed-js"></span>
		</h1>
		<p>
			Bringing best-sellers to your hand
		</p>
		<a class="btn btn-banner" href="/books"><i class="fa-solid fa-arrow-right-long me-2"></i>Discover</a>
	</div>
</div>
<div class="container-fluid">
	<div class="row espacement background-img-container">
		<div class="col-12 heading">
			<h1 class="text-center heading-one">WELCOME</h1>
		</div>
		<div class="col-md-6 flex-center-column about">
			<h1 class="heading-three">Digital Books</h1>
			<p>
				An ebook, short for ‘electronic book,’ is a digital form of a printed book designed to be read on devices like computers, tablets, or smartphones. Ebooks are vital marketing assets with multiple digital 'pages' that delivers information to its reader. In addition, they are often packaged as PDF documents so readers can share them.
			</p>
		</div>
		<div class="col-md-6">
			<%= image_tag "image-01.png", class: 'image-books'%>
		</div>
	</div>
</div>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://as2.ftcdn.net/v2/jpg/03/31/42/75/1000_F_331427528_tV05F0vie1G2oaQR5ieNDF4miv1RUinD.jpg)">
	<p class="satisfy">
	 Your online library
	</p>
</div>
<div class="container-fluid">
	<div class="row espacement background-img-container">
		<div class="col-md-6">
			<%= image_tag "image-01.png", class: 'image-books'%>
		</div>
		<div class="col-md-6 flex-center-column">
			<h1 class="heading-three">Ebook Benefits</h1>
			<p>
				In 2021, ebook sales increased 38% for publisher HarperCollins, following a trend of increased revenue earnings for the company. Although this is a snapshot of one publisher’s success, it speaks to a more significant movement toward digital content consumption among marketers.
			</p>
		</div>
	</div>
</div>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://t3.ftcdn.net/jpg/01/33/19/88/240_F_133198880_pWJY2Q3mSWeI9I9NXgQONi5CyN4MU8zA.jpg)">
	<p class="satisfy">
	 Books shape you and your
	<br>
	future for good
	</p>
</div>
<div class="container-fluid">
	<div class="row background-pattern">
		<h1 class="heading-two text-center">
			Why choose us?
		</h1>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-icon">
					<i class="fa-solid fa-star"></i>
				</div>
				<div class="panel-title">
					<p>
						<strong>Reliability</strong>
					</p>
				</div>
				<div class="panel-text">
					<p>
						24/7 our support team are at your service.
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-icon">
					<i class="fa-solid fa-heart"></i>
				</div>
				<div class="panel-title">
					<p>
						<strong>Quality</strong>
					</p>
				</div>
				<div class="panel-text">
					<p>
						A team of professionals to cater for your needs.
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-icon">
					<i class="fa-regular fa-credit-card"></i>
				</div>
				<div class="panel-title">
					<p>
						<strong>Pricing</strong>
					</p>
				</div>
				<div class="panel-text">
					<p>
						Affordable pricing for all of our books for rent
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-icon">
					<i class="fa-sharp fa-solid fa-universal-access"></i>
				</div>
				<div class="panel-title">
					<p>
						<strong>Accessibility</strong>
					</p>
				</div>
				<div class="panel-text">
					<p>
						You are one click away to read a book.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<%# FOOTER %>
<div class="container-fluid marg-0">
	<footer class="bg-dark1 text-center text-lg-start text-white">
		<!-- Grid container -->
		<div class="container p-4">
			<!--Grid row-->
			<div class="row mt-4">
				<!--Grid column-->
				<div class="col-lg-4 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase minim-heading">
						Other digital books
					</h5>
					<ul class="list-unstyled mb-0">
						<li>
							<a href="#!" class="text-white minim-font"><i class="fas fa-book fa-fw fa-sm me-2"></i>Bestsellers</a>
						</li>
						<li>
							<a href="#!" class="text-white minim-font"><i class="fas fa-book fa-fw fa-sm me-2"></i>All books</a>
						</li>
						<li>
							<a href="#!" class="text-white minim-font"><i class="fas fa-user-edit fa-fw fa-sm me-2"></i>Our authors</a>
						</li>
					</ul>
				</div>
				<!--Grid column-->
				<!--Grid column-->
				<%# <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase minim-heading">
						Execution of the contract
					</h5>
					<ul class="list-unstyled">
						<li>
							<a href="#!" class="text-white"><i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>Supply</a>
						</li>
						<li>
							<a href="#!" class="text-white"><i class="fas fa-backspace fa-fw fa-sm me-2"></i>Returns</a>
						</li>
						<li>
							<a href="#!" class="text-white"><i class="far fa-file-alt fa-fw fa-sm me-2"></i>Regulations</a>
						</li>
						<li>
							<a href="#!" class="text-white"><i class="far fa-file-alt fa-fw fa-sm me-2"></i>Privacy policy</a>
						</li>
					</ul>
				</div> %>
				<!--Grid column-->
				<!--Grid column-->
				<div class="col-lg-4 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase minim-heading">
						Online publishing house
					</h5>
					<ul class="list-unstyled">
						<li><a href="#!" class="text-white minim-font"><i class="fa-solid fa-map-pin me-2"></i>Online</a></li>
						<li>
							<a href="#!" class="text-white minim-font"><i class="fas fa-briefcase fa-fw fa-sm me-2"></i>Send us your digital book</a>
						</li>
					</ul>
				</div>
				<!--Grid column-->
				<!--Grid column-->
				<div class="col-lg-4 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase minim-heading">
						Write to us
					</h5>
					<ul class="list-unstyled">
						<li>
							<a href="#!" class="text-white minim-font"><i class="fas fa-at fa-fw fa-sm me-2"></i>Help in purchasing</a>
						</li>
						<li>
							<a href="#!" class="text-white minim-font"><i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>Check the renting status</a>
						</li>
						<li>
							<a href="#!" class="text-white minim-font"><i class="fas fa-envelope fa-fw fa-sm me-2"></i>Join the newsletter</a>
						</li>
					</ul>
				</div>
				<!--Grid column-->
			</div>
			<!--Grid row-->
		</div>
		<!-- Grid container -->
		<!-- Copyright -->
		<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
			© 2022 Copyright:
			<a class="text-white minim-font " href="https://localhost:3000">Digitalbooks.com</a>
		</div>
		<!-- Copyright -->
	</footer>
</div>
<!-- End of .container -->
